VITE_API_ENDPOINT=https://192.168.137.1:5173
VITE_API_FRONT=http://192.168.137.1:5174
VITE_PROFILE_PICTURE_LINK=https://ravinalaairportsmadagascar.sharepoint.com/_vti_bin/afdcache.ashx/_userprofile/userphoto.jpg?_oat_=1727750452_23b68f353d771a83e90931346b581ed0192096ce5e332065c363bf4e5faf1901&P1=1727697792&P2=2073235389&P3=1&P4=bFvxgEa8MLJ4hEnnyCRLnbDKAnGjvd27wO74GExZ%2B6qjzFWAZrlCiYQ%2FsXPeOUOVD%2B%2BxfOxWRPBLK918UPbrfj7FB5edhWDhHtZkZyhUZoVH2Wkh1ihWOpMO7T32XRsPJCUG03h%2FrobkSMMNkpc3Je%2BM6VFS5pOi0QrnCTRjfrTx0uTVDRlhpGfFf%2FXjYG%2F%2FRXSnEQIsavdKD8f7qkj4fjmJbLdTvuFzU73HKSFO0NZ7x5gUYur%2BRZiyxNjIzVVtOzxpD6MVSSY4m18kSe6BxGJprEBFUlqVAn02Afy5pnO7lXEtSM5fmc9fMcYrM9kovWgMeHGnDJzLPAsT9pqinA%3D%3D&size=S&accountname=
